h1 {
  color: blueviolet;
  text-align: center;
  margin-top: 200px;
  padding: 10px;
}
h2 {
  color: rgb(165, 137, 193);
}

.wholeapp {
  text-align: center;
  border: 20px;
  box-shadow: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(219, 213, 185);
}
.img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
